<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>647881E3-02F2-4150-93BB-7ED190F14AA3</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>-129</integer>
			<key>y</key>
			<integer>930</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>-545</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>606</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>642</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Dz</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbrevebelow</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>Lj</string>
		<string>Llinebelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Nj</string>
		<string>Nlinebelow</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>Rinvertedbreve</string>
		<string>Rlinebelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>C.alt01</string>
		<string>Cacute.alt01</string>
		<string>Ccaron.alt01</string>
		<string>Ccedilla.alt01</string>
		<string>Ccircumflex.alt01</string>
		<string>Cdotaccent.alt01</string>
		<string>G.alt01</string>
		<string>Gbreve.alt01</string>
		<string>Gcircumflex.alt01</string>
		<string>Gcommaaccent.alt01</string>
		<string>Gdotaccent.alt01</string>
		<string>A.ss01</string>
		<string>B.ss01</string>
		<string>C.ss01</string>
		<string>D.ss01</string>
		<string>E.ss01</string>
		<string>F.ss01</string>
		<string>G.ss01</string>
		<string>H.ss01</string>
		<string>I.ss01</string>
		<string>J.ss01</string>
		<string>K.ss01</string>
		<string>L.ss01</string>
		<string>M.ss01</string>
		<string>N.ss01</string>
		<string>O.ss01</string>
		<string>P.ss01</string>
		<string>Q.ss01</string>
		<string>R.ss01</string>
		<string>S.ss01</string>
		<string>T.ss01</string>
		<string>U.ss01</string>
		<string>V.ss01</string>
		<string>W.ss01</string>
		<string>X.ss01</string>
		<string>Y.ss01</string>
		<string>Z.ss01</string>
		<string>A.ss02</string>
		<string>B.ss02</string>
		<string>C.ss02</string>
		<string>D.ss02</string>
		<string>E.ss02</string>
		<string>F.ss02</string>
		<string>G.ss02</string>
		<string>H.ss02</string>
		<string>I.ss02</string>
		<string>J.ss02</string>
		<string>K.ss02</string>
		<string>L.ss02</string>
		<string>M.ss02</string>
		<string>N.ss02</string>
		<string>O.ss02</string>
		<string>P.ss02</string>
		<string>Q.ss02</string>
		<string>R.ss02</string>
		<string>S.ss02</string>
		<string>T.ss02</string>
		<string>U.ss02</string>
		<string>V.ss02</string>
		<string>W.ss02</string>
		<string>X.ss02</string>
		<string>Y.ss02</string>
		<string>Z.ss02</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>alpha-latin</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>iinvertedbreve</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>ldotbelowmacron</string>
		<string>lj</string>
		<string>llinebelow</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nj</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rdotbelow</string>
		<string>rdotbelowmacron</string>
		<string>rinvertedbreve</string>
		<string>rlinebelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>germandbls</string>
		<string>schwa</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>a.alt01</string>
		<string>aacute.alt01</string>
		<string>abreve.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>agrave.alt01</string>
		<string>amacron.alt01</string>
		<string>aogonek.alt01</string>
		<string>aring.alt01</string>
		<string>aringacute.alt01</string>
		<string>atilde.alt01</string>
		<string>a.ss01</string>
		<string>b.ss01</string>
		<string>c.ss01</string>
		<string>d.ss01</string>
		<string>e.ss01</string>
		<string>f.ss01</string>
		<string>g.ss01</string>
		<string>h.ss01</string>
		<string>i.ss01</string>
		<string>j.ss01</string>
		<string>k.ss01</string>
		<string>l.ss01</string>
		<string>m.ss01</string>
		<string>n.ss01</string>
		<string>o.ss01</string>
		<string>p.ss01</string>
		<string>q.ss01</string>
		<string>r.ss01</string>
		<string>s.ss01</string>
		<string>t.ss01</string>
		<string>u.ss01</string>
		<string>v.ss01</string>
		<string>w.ss01</string>
		<string>x.ss01</string>
		<string>y.ss01</string>
		<string>z.ss01</string>
		<string>a.ss02</string>
		<string>b.ss02</string>
		<string>c.ss02</string>
		<string>d.ss02</string>
		<string>e.ss02</string>
		<string>f.ss02</string>
		<string>g.ss02</string>
		<string>h.ss02</string>
		<string>i.ss02</string>
		<string>j.ss02</string>
		<string>k.ss02</string>
		<string>l.ss02</string>
		<string>m.ss02</string>
		<string>n.ss02</string>
		<string>o.ss02</string>
		<string>p.ss02</string>
		<string>q.ss02</string>
		<string>r.ss02</string>
		<string>s.ss02</string>
		<string>t.ss02</string>
		<string>u.ss02</string>
		<string>v.ss02</string>
		<string>w.ss02</string>
		<string>x.ss02</string>
		<string>y.ss02</string>
		<string>z.ss02</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_t</string>
		<string>t_t</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>nmod</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>koKai-thai</string>
		<string>thoThung-thai</string>
		<string>phoSamphao-thai</string>
		<string>ru-thai</string>
		<string>ru-thai.short</string>
		<string>lu-thai</string>
		<string>lu-thai.short</string>
		<string>doChada-thai</string>
		<string>doChada-thai.short</string>
		<string>toPatak-thai</string>
		<string>toPatak-thai.short</string>
		<string>ru_lakkhangyao-thai</string>
		<string>lu_lakkhangyao-thai</string>
		<string>yoYing-thai</string>
		<string>yoYing-thai.less</string>
		<string>khoKhai-thai</string>
		<string>khoKhuat-thai</string>
		<string>choChang-thai</string>
		<string>soSo-thai</string>
		<string>khoKhwai-thai</string>
		<string>khoKhon-thai</string>
		<string>soSala-thai</string>
		<string>doDek-thai</string>
		<string>toTao-thai</string>
		<string>thoThahan-thai</string>
		<string>thoNangmontho-thai</string>
		<string>noNu-thai</string>
		<string>moMa-thai</string>
		<string>choChoe-thai</string>
		<string>noNen-thai</string>
		<string>thoPhuthao-thai</string>
		<string>khoRakhang-thai</string>
		<string>thoThong-thai</string>
		<string>roRua-thai</string>
		<string>choChan-thai</string>
		<string>woWaen-thai</string>
		<string>ngoNgu-thai</string>
		<string>thoThan-thai</string>
		<string>thoThan-thai.less</string>
		<string>choChing-thai</string>
		<string>loLing-thai</string>
		<string>soSua-thai</string>
		<string>boBaimai-thai</string>
		<string>poPla-thai</string>
		<string>soRusi-thai</string>
		<string>yoYak-thai</string>
		<string>phoPhung-thai</string>
		<string>foFa-thai</string>
		<string>foFan-thai</string>
		<string>phoPhan-thai</string>
		<string>hoHip-thai</string>
		<string>loChula-thai</string>
		<string>loChula-thai.short</string>
		<string>oAng-thai</string>
		<string>hoNokhuk-thai</string>
		<string>saraAa-thai</string>
		<string>saraAm-thai</string>
		<string>lakkhangyao-thai</string>
		<string>saraA-thai</string>
		<string>saraE-thai</string>
		<string>saraAe-thai</string>
		<string>saraAiMaimalai-thai</string>
		<string>saraAiMaimuan-thai</string>
		<string>saraO-thai</string>
		<string>gscript</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zero-thai</string>
		<string>one-thai</string>
		<string>two-thai</string>
		<string>three-thai</string>
		<string>four-thai</string>
		<string>five-thai</string>
		<string>six-thai</string>
		<string>seven-thai</string>
		<string>eight-thai</string>
		<string>nine-thai</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>horizontalbar</string>
		<string>hyphen</string>
		<string>hyphentwo</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>angkhankhu-thai</string>
		<string>fongman-thai</string>
		<string>khomut-thai</string>
		<string>maiyamok-thai</string>
		<string>paiyannoi-thai</string>
		<string>figurespace</string>
		<string>space</string>
		<string>nbspace</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>baht</string>
		<string>cedi</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>guarani</string>
		<string>lira</string>
		<string>liraTurkish</string>
		<string>naira</string>
		<string>peseta</string>
		<string>peso</string>
		<string>ruble</string>
		<string>rupeeIndian</string>
		<string>sterling</string>
		<string>won</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>leftArrow</string>
		<string>blackDiamond</string>
		<string>lozenge</string>
		<string>blackSquare</string>
		<string>upBlackTriangle</string>
		<string>rightBlackTriangle</string>
		<string>downBlackTriangle</string>
		<string>leftBlackTriangle</string>
		<string>upWhiteTriangle</string>
		<string>rightWhiteTriangle</string>
		<string>downWhiteTriangle</string>
		<string>leftWhiteTriangle</string>
		<string>apple</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>published</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>minute</string>
		<string>second</string>
		<string>servicemark</string>
		<string>acutecomb</string>
		<string>brevebelowcomb</string>
		<string>brevecomb</string>
		<string>breveinvertedcomb</string>
		<string>caroncomb</string>
		<string>cedillacomb</string>
		<string>circumflexcomb</string>
		<string>commaaccentcomb</string>
		<string>dblgravecomb</string>
		<string>dieresisbelowcomb</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>horncomb</string>
		<string>hungarumlautcomb</string>
		<string>macronbelowcomb</string>
		<string>macroncomb</string>
		<string>ogonekcomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>apostrophemod</string>
		<string>commaturnedmod</string>
		<string>firsttonechinese</string>
		<string>fourthtonechinese</string>
		<string>ringhalfleft</string>
		<string>ringhalfright</string>
		<string>secondtonechinese</string>
		<string>verticallinelowmod</string>
		<string>verticallinemod</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>caron.alt</string>
		<string>maiHanaKat-thai</string>
		<string>maiHanaKat-thai.narrow</string>
		<string>maiEk-thai</string>
		<string>maiEk-thai.small</string>
		<string>maiTho-thai</string>
		<string>maiTho-thai.small</string>
		<string>maiTho-thai.narrow</string>
		<string>maiTri-thai</string>
		<string>maiTri-thai.small</string>
		<string>maiTri-thai.narrow</string>
		<string>maiChattawa-thai</string>
		<string>maiChattawa-thai.small</string>
		<string>thanthakhat-thai</string>
		<string>thanthakhat-thai.small</string>
		<string>thanthakhat-thai.narrow</string>
		<string>maitaikhu-thai</string>
		<string>maitaikhu-thai.narrow</string>
		<string>yamakkan-thai</string>
		<string>saraI-thai</string>
		<string>saraI-thai.narrow</string>
		<string>saraIi-thai</string>
		<string>saraIi-thai.narrow</string>
		<string>saraUe-thai</string>
		<string>saraUe-thai.narrow</string>
		<string>saraUee-thai</string>
		<string>saraUee-thai.narrow</string>
		<string>nikhahit-thai</string>
		<string>phinthu-thai</string>
		<string>phinthu-thai.small</string>
		<string>saraU-thai</string>
		<string>saraU-thai.small</string>
		<string>saraUu-thai</string>
		<string>saraUu-thai.small</string>
		<string>maiEk-thai.narrow</string>
		<string>maiChattawa-thai.narrow</string>
		<string>nikhahit-thai.narrow</string>
		<string>circumflexacute</string>
		<string>circumflexgrave</string>
		<string>circumflexhookabove</string>
		<string>circumflextilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>brevehookabove</string>
		<string>brevetilde</string>
		<string>dieresisacute</string>
		<string>dieresisgrave</string>
		<string>dieresiscaron</string>
		<string>espaciador</string>
		<string>dotbelow</string>
	</array>
</dict>
</plist>
